<!DOCTYPE html>
<html lang="$lang">
#include "head.html.inc"
<!-- Menu navbar -->
<body>
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <p></p>
            #include "graphMenu.html.inc"
            <table class="table">
              <tbody>
                <th scope="col"><h3>$gettext("Sun")</h3></th>
                <th scope="col"><h3>$gettext("Moon")</h3></th>
                #if $almanac.hasExtras
                ## Extended almanac information is available. Do the full set of tables.
                #set $sun_altitude = $almanac.sun.alt
                #if $sun_altitude < 0
                #set $sun_None="<i>(Always down)</i>"
                #else
                #set $sun_None="<i>(Always up)</i>"
                #end if
                <tr>
                  <td>
                <div class="row col">
                <table class="table table-hover">
                <tbody>
                  <tr>
                    <th scope="row">$gettext("Start_civil_twilight")</td>
                    <td>$almanac(horizon=-6).sun(use_center=1).rise</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Sunrise")</td>
                    <td>$almanac.sun.rise.string($sun_None)</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Transit")</td>
                    <td>$almanac.sun.transit</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Sunset")</td>
                    <td>$almanac.sun.set.string($sun_None)</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("End_civil_twilight")</td>
                    <td>$almanac(horizon=-6).sun(use_center=1).set</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Azimuth")</td>
                    <td>$("%.1f&deg;" % $almanac.sun.az)</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Altitude")</td>
                    <td>$("%.1f&deg;" % $sun_altitude)</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Right_ascension")</td>
                    <td>$("%.1f&deg;" % $almanac.sun.ra)</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Declination")</td>
                    <td>$("%.1f&deg;" % $almanac.sun.dec)</td>
                  </tr>
                  #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                  ## The equinox is before the solstice. Display them in order.
                  <tr>
                    <th scope="row">$gettext("Equinox")</td>
                    <td>$almanac.next_equinox</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Solstice")</td>
                    <td>$almanac.next_solstice</td>
                  </tr>
                  #else
                  ## The solstice is before the equinox. Display them in order.
                  <tr>
                    <th scope="row">$gettext("Solstice")</td>
                    <td>$almanac.next_solstice</td>
                  </tr>
                  <tr>
                    <th scope="row">$gettext("Equinox")</td>
                <td>$almanac.next_equinox</td>
                  </tr>
                  #end if
                  <tr>
                    <th scope="row">&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                </table>
                </div>
                </td>
                <td>
                  <div class="row col">
                  <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Rise")</td>
                      <td>$almanac.moon.rise</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Transit")</td>
                      <td>$almanac.moon.transit</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Set")</td>
                      <td>$almanac.moon.set</td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Azimuth")</td>
                      <td>$("%.1f&deg;" % $almanac.moon.az)</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Altitude")</td>
                      <td>$("%.1f&deg;" % $almanac.moon.alt)</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Right_ascension")</td>
                      <td>$("%.1f&deg;" % $almanac.moon.ra)</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Declination")</td>
                      <td>$("%.1f&deg;" % $almanac.moon.dec)</td>
                    </tr>
                  #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                    <tr>
                      <th scope="row">$gettext("Full_moon")</td>
                      <td>$almanac.next_full_moon</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("New_moon")</td>
                      <td>$almanac.next_new_moon</td>
                    </tr>
                  #else
                    <tr>
                      <th scope="row">$gettext("New_moon")</td>
                      <td>$almanac.next_new_moon</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Full_moon")</td>
                      <td>$almanac.next_full_moon</td>
                    </tr>
                  #end if
                    <tr>
                      <th scope="row">$gettext("Phase")</td>
                      <td>$almanac.moon_phase ($almanac.moon_fullness% full)</td>
                    </tr>
                </tbody>
                  </table>
                  </div>
                  </td>
                #else
                ## No extended almanac information available. Fall back to a simple table.
                  <div class="col-md-12">
                   <div class="row col">
                  <table class="table table-hover">
                   <tbody>
                    <tr>
                      <th scope="row">$gettext("Sunrise")</td>
                      <td>$almanac.sunrise</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Sunset")</td>
                      <td>$almanac.sunset</td>
                    </tr>
                    <tr>
                      <th scope="row">$gettext("Moon_phase")</td>
                      <td>$almanac.moon_phase ($almanac.moon_fullness% full)</td>
                    </tr>
                   </tbody>
                  </table>
                  </div>
                  </div>
                  #end if
                </tr>
              </tbody>
            </table>
         </div>

        </div>
      </div>

    <hr>
    <footer>
      <p>$gettext("Footer text")</p>
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/mqtt.min.js"></script>
<script src="js/units.js"></script>
<script src="js/site.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/lang.js"></script>
<script src="js/gauges.js"></script>
<script src="js/charts.js"></script>
#include "script.html.inc"
</body>
</html>

